@using GuideMeServerMVC.Models
@model EstabelecimentoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //enctype="multipart/form-data"
}

<body>
    <div>
        <h2>Cadastro de Estabelecimento</h2>
        <form asp-action="Create" method="post">
            <label for="Nome" class="control-label">Nome</label>
            <input type="text" Name="Nome" value="@Model.Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
            <br />
            @if (Model.Id > 0)
            {
                <input type="submit" value="Salvar" class="btn-info" />
            }
            else
            {
                <input type="submit" value="Criar novo estabelecimento" class="btn-info" />
            }
            &nbsp;&nbsp;&nbsp;
            <a asp-controller="UsuarioEstabelecimento" asp-action="Index" class="btn-light">Voltar</a>
            <br />
        </form>
    </div>
</body>

