@using GuideMeServerMVC.TO
@using GuideMeServerMVC.Models
@model EstabelecimentoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 style="text-align: center">Cadastro de Estabelecimento</h2>
            </div>   
                <div class="card-body" style="margin-top:16px">
                <form asp-action="Create" method="post">
                    @if (Model.Id > 0)
                    {
                        <div class="form-group">
                            <label for="Nome" class="control-label">Nome</label>
                            <input type="text" Name="Nome" value="@Model.Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                            <input hidden type="text" Name="Id" value="@Model.Id" class="form-control" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="Nome" class="control-label">Nome</label>
                            <input type="text" Name="Nome" value="@Model.Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    }
                    <br />
                    <div class="form-group text-center">
                        @if (Model.Id > 0)
                        {
                            <input type="submit" value="Salvar" class="btn btn-primary rounded-pill px-3" />
                        }
                        else
                        {
                            <input type="submit" value="Criar novo estabelecimento" class="btn btn-primary rounded-pill px-3" />
                        }
                        &nbsp;&nbsp;&nbsp;
                        <a asp-controller="UsuarioEstabelecimento" asp-action="Index" class="btn btn-secondary rounded-pill px-3">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

