################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GuideMeServerMVC/FileContentIndex/7c29642c-2e76-44a0-a697-f5df30768d54.vsidx
/.vs/GuideMeServerMVC/FileContentIndex/merges/005acb7a-3695-41d7-b996-2ab415325a61.vsidx
*.vsidx
/GuideMeServerMVC/bin/
/GuideMeServerMVC/obj/
*.suo
*.dll
.vs/
.idea/
*.tmp
*.bak
.GuideMeServerMVC/obj/
.GuideMeServerMVC/bin/
