@using GuideMeServerMVC.Models
@model MenuViewModel
<body>
    <div>
        <h2>Menu</h2>
        @if (Model.UsuarioEstabelecimento != null && Model.UsuarioEstabelecimento.Id_Estabelecimento >= 0)
        {
            <p><b>Estabelecimento @Model.Estabelecimento.Nome</b></p>
            <a asp-controller="Tag" asp-action="ExibirTagsEstabelecimento" class="btn-light">Exibir Tags</a>
        }
        else
        {
            <a asp-controller="Estabelecimento" asp-action="CadastrarEstabelecimento" class="btn-light">Cadastrar Estabelecimento</a>
        }
    </div>
</body>