<body>
    <div>
        <h2>Menu</h2>
        <a asp-controller="Estabelecimento" asp-action="CadastrarEstabelecimento" class="btn-light">Cadastrar Estabelecimento</a>

        <p>Estabelecimento XXXX</p>
        <button onclick="redirectToCadastro()">Cadastrar Novo Usuário</button>
    </div>
</body>