<body>
    <div>
        <h2>Index</h2>
        <a href="CadastrarEstabelecimento" class="btn-light">Cadastrar novo Estabelecimento</a>
        <p>Estabelecimento XXXX</p>
        <button onclick="redirectToCadastro()">Cadastrar Novo Usuário</button>
        <a href="Cadastro" class="btn-light">Cadastrar</a>
    </div>
</body>

<script>
    function redirectToCadastro() {
        // Redireciona para a página de cadastro de novo usuário
        window.location.href = 'api/UsuarioEstabelecimento/Cadastro'; // Substitua pelo caminho correto da sua rota de cadastro
    }
</script>

